@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-sofia), sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-blu: #01005B;
  --color-gry: #676869;
  --color-bge: #F9F0E5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.icon-bubble {
  background-color: var(--color-bge);
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 2.5rem;
  width: 2.5rem;
  min-height: 2.5rem;
  height: 2.5rem;
}